CompileFlags:
  Compiler: clang++
  Remove:
    - "-forward-unknown-to-host-compiler"
    - "--options-file*"
    - "-gencode*"
    - "--generate-code*"
    - "-Xcudafe*"
    - "--diag_suppress*"
    - "--expt-relaxed-constexpr"
    - "--expt-extended-lambda"
  Add:
    - "-xcuda"
    - "-std=c++17"
    - "--cuda-path=/home/yangjunjie/opt/anaconda/envs/simple-cuda"
    - "--cuda-gpu-arch=sm_89"
    - "-ferror-limit=0"

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  Suppress:
    - "*"
    - "tweak_expand_deduced_type"